html {
    --page-width: 100ch;
    --page-margin: 5rem;
    --src-width: 80ch;
    
    --col-body-bg: #e1e1e1;
    --col-page-bg: #f8f8f8;
    --col-page-text: #222;

    --col-text-a: #125cd9;
    
    --col-dark-bg: #3c3c3c;
    --col-dark-text: #f8f8f8;
    --col-dark-a: #bdf;

    --col-accent: #a40800;

    --col-src-bg: #151414;
    --col-src-text: #fafafa;

    --col-error: darkred;
    --col-ok: darkgreen;
    --col-ok-lg: #d2f7d0;
}
body {
    display: flex;
    height: 100vh;
    align-items: stretch;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    background: var(--col-body-bg);
    /*to inherit*/
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}
#content, #postamble {
    width: var(--page-width);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}
#content {
    flex-grow: 1;
    background: var(--col-page-bg);
    color: var(--col-page-text);
    /* border-top: solid 1.5rem var(--col-dark-bg); */
    padding-bottom: 6rem;
}
#postamble {
    flex-grow: 0;
    text-align: center;
    background: var(--col-dark-bg);
    color: var(--col-dark-text);
}
#postamble p {
    margin-block: 0.2rem;
}
#postamble a {
    color: var(--col-dark-a);
    text-decoration: none;
}
#content>*, #postamble>* {
    margin-left: var(--page-margin);
    margin-right: var(--page-margin);
}

@media screen and (max-width: 100ch) { /*var(--page-width)*/
    #content, #postamble {
        max-width: 100vw;
    }
    #content>*, #postamble>* {
        margin-left: var(--page-margin);
        margin-right: var(--page-margin);
    }
}


/*NAVEGATION*/
#navbar {
    z-index: 10;
    background: var(--col-accent);
    margin-left: 0;
    margin-right: 0;
    height: 1.6rem;
}
#navbar>.org-ul {
    display: flex;
    justify-content: flex-end;
    margin-inline: 0;
    margin-block: 0;
}
#navbar>ul>li {
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
}
#navbar>ul>li>a {
    display: inline-block;
    height: 100%;
    padding-inline: 1rem;
    color: var(--col-dark-text);
    font-weight: bold;
}
#navbar>ul>li>a:hover {
    color: var(--col-dark-bg);
    background: var(--col-page-bg);
    font-weight: bold;
}
.sticky {
    position: fixed;
    top: 0;
    width: var(--page-width);
}




/*HEADERS AND TEXT ELEMENTS */
.title {
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
}
h2 {
    margin-top: 4rem;
    border-bottom: solid 2px var(--col-accent);
}
a {
    color: var(--col-text-a);
    text-decoration: none;
}
.tag {
    font-size: 0.6em;
    padding: 0 6px;
    border: dashed 2px #c8c4acc4;
    background: #fff3dabf;
    vertical-align: bottom;
    font-family: mono;
}

.todo, .done {
    font-weight: bold;
    font-size: 0.8em;
    padding: 0 4px;
}
.todo {
    color: var(--col-error);
}

.done {
    color: var(--col-ok);
    background: var(--col-ok-lg);
    border: solid 1px var(--col-ok);
    border-radius: 3px;
}





/*SOURCE CODE*/
.src {
    padding: 0.5rem;
    background: var(--col-src-bg);
    color: var(--col-src-text);
    font-family: mono;
    font-size: 0.8rem;
    line-height: 1rem;
    max-height: 25rem;
    overflow: scroll;
    max-width: var(--src-width);
    margin: auto;
}
code {
    background: #ddd;
    padding: 0.1rem 0.2rem;
    font-weight: bold;
}




/*BLOCK ELEMENTS*/
img {
    max-width: 100%;
}
