html {
    --page-width: 110ch;
    --page-margin: 5rem;
    --src-width: auto;
    
    --col-body-bg: #dfdfdf;
    --col-page-bg: #f8f8f8;
    --col-page-bg2: #d8d8d8;
    --col-page-bg3: #eee;
    --col-page-bg4: #e2e2e2;
    --col-page-text: #222;
    --col-page-text-dim: #aaa;

    --col-text-a-dark: #0f4eb9;
    --col-text-a: #2a73ee;
    --col-text-a-light: #4e96ff;
    
    --col-dark-bg: #3c3c3c;
    --col-dark-text: #f8f8f8;
    --col-dark-a: #bdf;

    --col-accent: #a40800;

    --col-src-bg: #fff5d7;
    --col-src-text: #000;

    --col-error: #ac0000;
    --col-error-light: #ffe1e1;
    --col-warn: #b08c00;
    --col-warn-light: #fffab8;
    --col-ok: #009700;
    --col-ok-light: #d2f7d0;
    --col-info: #148;
    --col-info-light: #cef;
}
body {
    display: flex;
    height: 100vh;
    align-items: stretch;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    background: var(--col-body-bg);
    /*to inherit*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
}
#content, #postamble {
    width: min(var(--page-width),96vw);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}
#content {
    flex-grow: 1;
    color: var(--col-page-text);
}
#postamble {
    flex-grow: 0;
    text-align: center;
    background: var(--col-dark-bg);
    color: var(--col-dark-text);
}
#postamble p {
    margin-block: 0.2rem;
}
#postamble a {
    color: var(--col-dark-a);
    text-decoration: none;
}


/*NAVEGATION*/
#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background: var(--col-accent);
    height: 1.8rem;
    transition: all 0.15s ease-in-out;
}
#navbar>.org-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}
#navbar>ul>li {
    list-style: none;
    padding: 0;
    margin: 0;
}
#navbar>ul>li>a {
    display: inline-block;
    padding-inline: 1rem;
    color: var(--col-dark-text);
    font-weight: bold;
}
#navbar>ul>li>a:hover {
    color: var(--col-dark-bg);
    background: var(--col-page-bg);
    font-weight: bold;
}
#navbar.sticky {
    position: sticky;
    z-index: 10;
    top: 0;
    height: 2.5rem;
    box-shadow: 0px 3px 3px -1px #0008;
}




/*HEADERS AND TEXT ELEMENTS */
.title {
    text-align: center;
    font-size: 3rem;
    line-height: 2.5rem;
    background: var(--col-page-bg);
    padding: 2.5rem;
    margin: 0;
}
.subtitle {
    color: var(--col-page-text-dim);
    font-size: 1.3rem;
    line-height: 1rem;
    font-weight: lighter;
    font-family: serif;
    font-style: italic;
}
#small-title {
    color: var(--col-page-bg);
    font-size: 1.4rem;
    font-weight: bold;
    margin-inline: 1.5rem;
    display: inline-block;
}

h2, h3, h4 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
h2 {
    margin-bottom: 0;
    padding-bottom: 0.2rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
    border-bottom: solid 3px var(--col-accent);
    align-items: end;
}
.outline-2:first-of-type > h2 {
    margin-top: 2rem;
}
h3 {
    margin-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 0.2rem;
    font-size: 1.75rem;
    color: var(--col-info);
    border-bottom: solid 1px var(--col-page-text-dim);
}
h4 {
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.25rem;
    color: var(--col-info);
}
h2 *, h3 * {
    height: 100%;
    font-weight: bold;
    padding: 0 4px;
    margin-inline: 0.25rem;
}

h3 * {
    font-size: 0.9rem;
}
.todo, .done {
    order: 2;
    margin: 0;
    padding: 0;
    padding-inline: 0.5rem;
    flex-grow: 1;
    text-align: end;
    line-height: 1.25rem;

}
.TODO {
    color: var(--col-warn);
}
.CURRENT {
    color: var(--col-error);
}
.DONE {
    color: var(--col-ok);
}

/* difficulties */
.tag {
    order: 4;
    line-height: calc(1.25rem - 2px);
    margin: 0;
    padding: 0;
    padding-inline-start: 0.5rem;
}
.tag > span {
    margin: 0;
    padding: 0;
    min-width: 4rem;
    display: inline-block;
    text-align: center;
}

.easy, .medium, .hard {
    margin: 0;
    font-family: mono;
    border: dotted 1px;
    padding-inline: 0.2rem;
    line-height: 1.25rem;
}
.hard {
    color: var(--col-error);
    border-color: var(--col-error);
    background: var(--col-error-light);
}
.medium {
    color: var(--col-warn);
    border-color:  var(--col-warn);
    background: var(--col-warn-light);
}
.easy {
    color: var(--col-ok);
    border-color:  var(--col-ok);
    background: var(--col-ok-light);
}

/*link to leetcode*/
h2>a, h3>a {
    margin: 0;
    min-width: fit-content;
    padding: 0;
    padding-inline: 0.3rem;
    border: solid 1px var(--col-text-a);
    border-radius: 5px;
    order: 3;
    font-weight: normal;
    margin-inline: 0.5rem;
    line-height: calc(1.25rem - 1px);
    transition: all 0.08s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
}

h2>a::after, h3>a::after {
    display: inline-block;
    content: "";
    -webkit-mask-image: url(/assets/media/ext_href.svg);
    mask-image: url(/assets/media/ext_href.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 0.7rem;
    margin-left: 0.2rem;
    width: 0.7rem;
    /* color: var(--col-text-a); */
    background: var(--col-text-a);
    transition: all 0.1s ease-in-out;
}

h2>a:hover, h3>a:hover {
    background: var(--col-text-a);
    color: var(--col-page-bg);
}
h2>a:hover::after, h3>a:hover::after {
  background: var(--col-page-bg);
}

/* alignment within tables */
.org-left {
    text-align: left;
}
.org-center {
    text-align: center;
}
.org-right {
    text-align: right;
}

a {
    color: var(--col-text-a);
    text-decoration: none;
}






/*SOURCE CODE*/
.org-src-container::before, table.bench > tbody > tr::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* box-shadow: blue 1px 1px 0px 0px, red 1px 1px 0px 0px; */
}
    

.src {
    padding: 0.5rem;
    background: var(--col-src-bg);
    color: var(--col-src-text);
    border: solid 1px var(--col-page-bg2);
    font-family: monospace;
    font-size: 0.8rem;
    line-height: 1rem;
    max-height: 20rem;
    overflow: scroll;
    max-width: var(--src-width);
    margin: auto;
}
li .org-src-container {
    margin-top: -1rem;
    margin-bottom: 1rem;
}
li .src {
    width: fit-content;
    padding-inline: 2rem;
    margin-block: 0;
}
code {
    background: var(--col-src-bg);
    font-weight: bold;
    padding: 0.1rem 0.1rem 0;
    font-size: 0.9rem;
    border: solid 1px #d7cbb0;
    border-radius: 0.2rem;
    font-family: mono;    
}
del {
    text-decoration: line-through #b005 2px;
}



/*BLOCK ELEMENTS*/
.outline-2 {
    position: relative;
    z-index: 0;
    background: var(--col-page-bg);
    margin-block: 1.5rem;
    padding-inline: min(2.5rem,5vw);
    padding-top: 3rem;
    box-shadow: 1px 1px 5px -1px #0006;
    padding-bottom: 4rem;
}

img {
    max-width: 100%;
}

table.bench {
    width: 100%;
    line-height: 0.8rem;
    font-size: 0.8rem;
    border-collapse: collapse;
    border-style: none;
}

table.bench > tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

table.bench > tbody > tr {
    background: var(--col-page-bg3);
    border: solid 1px var(--col-body-bg);
    border-style: none solid solid solid;
}

table.bench > tbody > tr > td {
    padding: 0.05rem 0.5rem;
    width: fit-content;
    min-width: 2.5rem;
}

table.bench > tbody > tr > td:first-child {
    font-weight: bold;
    flex-grow: 1;
    background: var(--col-page-bg);
    font-size: 0.6rem;
}

.org-src-container, table.bench, table.bench > tbody > tr {
  position: relative;
}


.org-ul {
    margin-top: 0.25rem;
    margin-left: 2rem;
    padding-left: 0;
}






/*in small screens do...*/
@media screen and (max-width: 110ch) { /*var(--page-width)*/
    #content, #postamble {
        width: 100vw;
    }
}

/*in even smaller screens do...*/
@media screen and (max-width: 68ch) {
    #content, #postamble {
        width: 100%;
    }
    table.bench td {
        padding: 0 0.2rem;
        font-size: 0.8rem;
    }
    .src {
        padding: 0.4rem;
        font-size: 0.7rem;
        line-height: 0.8rem;
    }
    h2, h3, h4 {
        flex-wrap: wrap;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1rem;
    }
    .org-ul {
        margin-left: 0.5rem;
    }
}
